# NYC traffic accidents over a 4 year period 
## Filter and Subset

Download <a href="https://www.dropbox.com/s/585wrgl08djzlyt/accidents-nyc.csv?dl=0">this dataset</a> stored on dropbox.

In [83]:
import pandas as pd

In [84]:
crash_df = pd.read_csv("accidents-nyc.csv")
crash_df

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,4/13/21,21:35,BROOKLYN,1,0,1,0,0,0,0,0,Unspecified,NaN,4407147,Sedan,NaN
1,4/13/21,16:00,BROOKLYN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4407811,Sedan,NaN
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
3,4/11/21,21:06,BROOKLYN,1,0,1,0,0,0,0,0,Passing Too Closely,NaN,4406488,Taxi,NaN
4,4/15/21,20:00,STATEN ISLAND,0,0,0,0,0,0,0,0,Unspecified,NaN,4408310,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282868,1/1/19,19:00,BROOKLYN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
282869,1/1/19,8:00,BRONX,0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
282870,1/1/19,3:30,BRONX,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
282871,1/1/19,19:30,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
282872,1/1/19,12:00,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [85]:
## see the overall info about this dataset
crash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282873 entries, 0 to 282872
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     282873 non-null  object
 1   CRASH TIME                     282873 non-null  object
 2   BOROUGH                        282873 non-null  object
 3   NUMBER OF PERSONS INJURED      282873 non-null  int64
 4   NUMBER OF PERSONS KILLED       282873 non-null  int64
 5   NUMBER OF PEDESTRIANS INJURED  282873 non-null  int64
 6   NUMBER OF PEDESTRIANS KILLED   282873 non-null  int64
 7   NUMBER OF CYCLIST INJURED      282873 non-null  int64
 8   NUMBER OF CYCLIST KILLED       282873 non-null  int64
 9   NUMBER OF MOTORIST INJURED     282873 non-null  int64
 10  NUMBER OF MOTORIST KILLED      282873 non-null  int64
 11  CONTRIBUTING FACTOR VEHICLE 1  281489 non-null  object
 12  CONTRIBUTING FACTOR VEHICLE 2  224591 non-null  object
 13  COLLISION_ID                   282873 non-null  int64
 14  VEHICLE TYPE CODE 1            279986 non-null  object
 15  VEHICLE TYPE CODE 2            201168 non-null  object
dtypes: int64(9), object(7)
memory usage: 34.5+ MB

In [89]:
## create a series of crash dates.
crash_df["CRASH DATE"]

0         4/13/21
1         4/13/21
2         4/13/21
3         4/11/21
4         4/15/21
           ...
282868     1/1/19
282869     1/1/19
282870     1/1/19
282871     1/1/19
282872     1/1/19
Name: CRASH DATE, Length: 282873, dtype: object

In [90]:
## Which borough had the most crashes?
crash_df["BOROUGH"].value_counts()

BROOKLYN         95099
QUEENS           80085
BRONX            50123
MANHATTAN        48864
STATEN ISLAND     8702
Name: BOROUGH, dtype: int64

In [91]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7


crash_df["VEHICLE TYPE CODE 1"].value_counts().head(7)

Sedan                                  129987
Station Wagon/Sport Utility Vehicle    102850
Taxi                                    10647
Pick-up Truck                            7183
Box Truck                                5504
Bus                                      4697
Bike                                     3177
Name: VEHICLE TYPE CODE 1, dtype: int64

In [92]:
## What were a FIVE unusual primary vehicles to get into a crash?
crash_df["VEHICLE TYPE CODE 1"].value_counts().tail(5)

SLINGSHOT     1
CHEVY EXPR    1
Go kart       1
FDNY Engin    1
MAC T         1
Name: VEHICLE TYPE CODE 1, dtype: int64

In [133]:
## create a subset of data for only Queens
## place it in a dataframe called df_q
fil_q = crash_df["BOROUGH"] == "QUEENS"
df_q = crash_df[fil_q]

In [134]:
## CHALLENGE (as in you have to google this)
## How many people were killed in Queens in accidents?
df_q["NUMBER OF PERSONS KILLED"].sum()

428

In [136]:
## Same
## how many cyclists were killed in Queens?
df_q["NUMBER OF CYCLIST KILLED"].sum()

52

In [141]:
## Filter and subset 
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause
fil_t = crash_df["VEHICLE TYPE CODE 1"] == "Taxi"
fil_m = crash_df["BOROUGH"] == "MANHATTAN"
df_m = crash_df[fil_t & fil_m]
df_m.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 17 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                 --------------  -----
 0   CRASH DATE                                                                                                                                                                                                                                                                                                                                                                             0 non-null      object
 1   CRASH TIME                                                                                                                                                                                                                                                                                                                                                                             0 non-null      object
 2   BOROUGH                                                                                                                                                                                                                                                                                                                                                                                0 non-null      object
 3   NUMBER OF PERSONS INJURED                                                                                                                                                                                                                                                                                                                                                              0 non-null      int64
 4   NUMBER OF PERSONS KILLED                                                                                                                                                                                                                                                                                                                                                               0 non-null      int64
 5   NUMBER OF PEDESTRIANS INJURED                                                                                                                                                                                                                                                                                                                                                          0 non-null      int64
 6   NUMBER OF PEDESTRIANS KILLED                                                                                                                                                                                                                                                                                                                                                           0 non-null      int64
 7   NUMBER OF CYCLIST INJURED                                                                                                                                                                                                                                                                                                                                                              0 non-null      int64
 8   NUMBER OF CYCLIST KILLED                                                                                                                                                                                                                                                                                                                                                               0 non-null      int64
 9   NUMBER OF MOTORIST INJURED                                                                                                                                                                                                                                                                                                                                                             0 non-null      int64
 10  NUMBER OF MOTORIST KILLED                                                                                                                                                                                                                                                                                                                                                              0 non-null      int64
 11  CONTRIBUTING FACTOR VEHICLE 1                                                                                                                                                                                                                                                                                                                                                          0 non-null      object
 12  CONTRIBUTING FACTOR VEHICLE 2                                                                                                                                                                                                                                                                                                                                                          0 non-null      object
 13  COLLISION_ID                                                                                                                                                                                                                                                                                                                                                                           0 non-null      int64
 14  VEHICLE TYPE CODE 1                                                                                                                                                                                                                                                                                                                                                                    0 non-null      object
 15  VEHICLE TYPE CODE 2                                                                                                                                                                                                                                                                                                                                                                    0 non-null      object
 16  (CRASH DATE, CRASH TIME, BOROUGH, NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED, NUMBER OF PEDESTRIANS INJURED, NUMBER OF PEDESTRIANS KILLED, NUMBER OF CYCLIST INJURED, NUMBER OF CYCLIST KILLED, NUMBER OF MOTORIST INJURED, NUMBER OF MOTORIST KILLED, CONTRIBUTING FACTOR VEHICLE 1, CONTRIBUTING FACTOR VEHICLE 2, COLLISION_ID, VEHICLE TYPE CODE 1, VEHICLE TYPE CODE 2)  0 non-null      object
dtypes: int64(9), object(8)
memory usage: 0.0+ bytes

In [60]:
## What were the top 5 causes of accidents across all the boroughs?
## by primary vehicle cause
crash_df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().head(5)

Unspecified                       78494
Driver Inattention/Distraction    70615
Failure to Yield Right-of-Way     20691
Following Too Closely             14407
Backing Unsafely                  13348
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [61]:
## What were the top 5 causes of accidents across all the boroughs?
## by secondary vehicle cause
crash_df["CONTRIBUTING FACTOR VEHICLE 2"].value_counts().head(5)

Unspecified                       190456
Driver Inattention/Distraction     14186
Other Vehicular                     3529
Failure to Yield Right-of-Way       2233
Passing or Lane Usage Improper      2171
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [63]:
## What were the 5 RAREST causes for primary vehicles causing the accident
crash_df["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().tail(5)

Shoulders Defective/Improper    13
Texting                          8
Cell Phone (hands-free)          8
Windshield Inadequate            3
Listening/Using Headphones       2
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [150]:
## list ALL the causes as unique values (in other words, create a list of the causes)
## WHAT ARE SOME UNUSUAL REASONS FOR ACCIDENTS?
df_f1 = crash_df["CONTRIBUTING FACTOR VEHICLE 1"]
df_f2 = crash_df["CONTRIBUTING FACTOR VEHICLE 2"]
join_list = [df_f1, df_f2]
pd.concat(join_list)
df_u = pd.concat(join_list)
df_u.unique()

array(['Unspecified', 'Following Too Closely',
       'Driver Inattention/Distraction', 'Passing Too Closely',
       'Passing or Lane Usage Improper', 'Driver Inexperience',
       'Failure to Yield Right-of-Way', 'Turning Improperly',
       'Unsafe Speed', 'Backing Unsafely', 'Steering Failure',
       'Traffic Control Disregarded', 'Drugs (illegal)',
       'Reaction to Uninvolved Vehicle', 'View Obstructed/Limited',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Alcohol Involvement', 'Pavement Slippery', 'Brakes Defective',
       'Oversized Vehicle', 'Animals Action', 'Unsafe Lane Changing',
       'Outside Car Distraction', 'Illnes', 'Other Vehicular',
       'Aggressive Driving/Road Rage', 'Fell Asleep',
       'Tire Failure/Inadequate', 'Pavement Defective', nan,
       'Lost Consciousness', 'Accelerator Defective',
       'Passenger Distraction', 'Glare', 'Eating or Drinking',
       'Cell Phone (hands-free)', 'Lane Marking Improper/Inadequate',
       'Obstruction/Debris', 'Failure to Keep Right',
       'Using On Board Navigation Device', 'Fatigued/Drowsy',
       'Physical Disability', 'Cell Phone (hand-Held)',
       'Headlights Defective', 'Tinted Windows', 'Vehicle Vandalism',
       'Driverless/Runaway Vehicle', 'Prescription Medication', 'Texting',
       'Traffic Control Device Improper/Non-Working',
       'Tow Hitch Defective', 'Shoulders Defective/Improper',
       'Windshield Inadequate', 'Other Lighting Defects',
       'Other Electronic Device', 'Listening/Using Headphones'],
      dtype=object)

In [151]:
##Rare reasons
df_u.value_counts().tail(5)

Shoulders Defective/Improper    14
Cell Phone (hands-free)         11
Texting                          9
Listening/Using Headphones       8
Windshield Inadequate            3
dtype: int64